<div class="user_page">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 user_name">
				<%= @user.name %> <%= @user.surname %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 user_email">
				<%= @user.email %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 user_phone">
				<%= @user.phone %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8 user_feed">
				<%= render 'shared/feed' %>
			</div>
		</div>
	</div>
</div>
